

<h3 tabindex="-1" #componentHeading>{{componentTitle}}</h3>

<span class="bold">Testing Notes:&nbsp;</span>
<span>
    Developers using Clarity should ensure that any HTML implementations placed insided an expandable row are accessible.
</span>

<clr-datagrid aria-label="test this data grid with expandable rows">
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Creation date</clr-dg-column>
    <clr-dg-column>Favorite color</clr-dg-column>

    <clr-dg-row *ngFor="let user of users">
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
        <clr-dg-cell>{{user.color}}</clr-dg-cell>
        <clr-dg-row-detail *clrIfExpanded>
            Lorem ipsum...
        </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>{{users.length}} users</clr-dg-footer>
</clr-datagrid>