


<div id="content">
<div><a href="#skipTarget">Skip to main content</a></div>
  <h1>
     Clarity - Version {{version}} Testing 
  </h1>

<p><a href="https://stackblitz.com/github/clane/clarityTest2/tree/master/clarity-test-app">https://stackblitz.com/github/clane/clarityTest2/tree/master/clarity-test-app</a></p>

<nav>
<ol>
  <li><a routerLink="/datagrid-basic" routerLinkActive="active">Data Grid - Basic Structure</a></li>
  <li><a routerLink="/datagrid-custom-cell-rendering" routerLinkActive="active">Data Grid - Custom Cell Rendering</a></li>
  <li>Data Grid - Smart Iterator(no need to test, no UI change)</li>
  <li>Data Grid - Binding Properties(no need to test, no UI change)</li>
  <li><a routerLink="/datagrid-custom-sorting" routerLinkActive="active">Data Grid - Custom Sorting</a></li>
  <li><a routerLink="/datagrid-custom-filtering" routerLinkActive="active">Data Grid - Custom Filtering</a></li>
  <li>Data Grid - String Filtering(no need to test, string filtering is available in the Custom Sorting example)</li>
  <li><a routerLink="/datagrid-pagination" routerLinkActive="active">Data Grid - Pagination</a></li>
  <li><a routerLink="/datagrid-selection" routerLinkActive="active">Data Grid - Selection</a></li>
  <li><a routerLink="/datagrid-single-selection" routerLinkActive="active">Data Grid - Single Selection</a></li>
  <li><a routerLink="/datagrid-batch-action" routerLinkActive="active">Data Grid - Batch Action</a></li>
  <li><a routerLink="/datagrid-single-action" routerLinkActive="active">Data Grid - Single Action</a></li>
  <li>Data Grid - Server Driven(no need to test, no UI change)</li>
  <li><a routerLink="/datagrid-placeholder" routerLinkActive="active">Data Grid - Placeholder</a></li>
  <li><a routerLink="/datagrid-expandable-rows" routerLinkActive="active">Data Grid - Expandable Rows</a></li>
</ol>
</nav>


<div><a id="#skipTarget">main content</a></div>
<router-outlet></router-outlet>

</div>
