<h3 tabindex="-1" #componentHeading>{{componentTitle}}</h3>

<div>
    <p>
        <span class="bold">Testing Notes:&nbsp;</span>
        <span>
            Activate the checkboxes at the beginning of each row.
        </span>
    </p>

</div>


<div class="doNotTest">
    <p>
        <span class="bold">
            Do Not Test this section. 
        </span>
        <span>
            Developers using Clarity should ensure that any HTML implementations used to display the selected users are accessible.
        </span>
    </p>
    Selected users: <span *ngFor="let user of selected"> {{user.name}}</span>
</div>

<clr-datagrid [(clrDgSelected)]="selected" aria-label="test this data grid with selection">
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'creation'">Creation date</clr-dg-column>
    <clr-dg-column [clrDgField]="'color'">
        Favorite color
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
        <clr-dg-cell>
            {{user.color}}
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{users.length}} users</clr-dg-footer>

</clr-datagrid>

